version: 2

updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: monthly
  groups:
    linting:
      patterns:
        - "eslint"
        - "eslint-*"
        - "globals"
        - "prettier"
        - "vue-eslint-parser"
  open-pull-requests-limit: 10
- package-ecosystem: github-actions
  directory: "/"
  schedule:
     interval: monthly
  open-pull-requests-limit: 10
